<div class="thankyou">
	<h1>Thank You For Your Donation</h1>
	<p>We thank you on behalf of Laurie, her friends, and her family.
		Your kind and generous offer will make a difference in her life.</p>
	<p>If you would like to continue supporting Laurie, please share this page, 
		her story, and leave her a heartfelt comment.</p>
</div>
<div class="mainContent">
	<%= render 'shared/help' %>
</div>