<div class="commentFormHeader">
	<div class="commentFormToggle">
		<div class="commentFormHide"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="commentConfirm">
	<p>Thank you for showing your support. We appreciate your comment and will display it shortly.</p>
	<p>In the meantime, feel free to share this page with others.</p>
</div>