.aboutSection {
	margin: 0 0 20px 0;
}

.aboutSection h1 {
	font-size: 28px;
	font-weight: 300;
	margin: 0 0 10px 0;
}

.aboutImage {
	background: rgb(255, 255, 255);
	height: 200px;
	padding: 10px;
	width: 200px;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.aboutImageContainer {
	height: 200px;
	overflow: hidden;
	position: absolute;
	width: 200px;
	z-index: 100;
}

.aboutImage img {
	max-height: 200px;
}

.aboutInfo {
	width: 720px;
}

.aboutInfo p {
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 14px 0;
}

/* Specific sections */
.nightmare h1, .prologue h1 {
	text-align: right;
}

.epilogue .aboutImage, .aftermath .aboutImage {
	float: left;
}

.epilogue .aboutInfo, .aftermath .aboutInfo {
	float: right;
}

.nightmare .aboutImage, .prologue .aboutImage {
	float: right;
}

.nightmare .aboutInfo, .prologue .aboutInfo {
	float: left;
}