.belowHeader {
	margin: 20px 0;
	padding: 0 10px;
}

.nameLogo {
	float: left;
	max-width: 400px;
	position: relative;
	right: 20px;
}

.mainContent {
	background: rgb(235, 235, 235);
	margin: 0 0 20px 0;
	padding: 20px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.mainContentRight {
	float: right;
	width: 490px;
}

/* Short info */
.shortInfo {
	font-size: 14px;
}

.shortInfo p {
	line-height: 18px;
	margin: 0 0 14px 0;
}

.readMore {
	text-align: right;
}

.readMore a {
	color: rgb(200, 94, 199);
}

.readMore a:hover {
	color: rgb(222, 71, 172);
}