<div class="belowHeader">
	<%= link_to root_path do %>
		<%= image_tag '/assets/laurie_dang.png', class: 'nameLogo' %>
	<% end %>
	<div class="comments">
		<div class="commentsContainer">
	        <div class="commentsScroll">
				<%= render @comments %>
	        </div>
	    </div>
	</div>
	<div class="clear"></div>
</div>