<div class="inHeader">
	<%= link_to root_path do %>
		<%= image_tag '/assets/logo.png', class: 'logo' %>
	<% end %>
	<div class="headerNav">
		<ul>
			<li><%= link_to 'Donate', '#' %></li>
			<li><%= link_to 'About', about_path %></li>
		</ul>
	</div>
</div>